{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "semi": ["error", "never"],
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 1
  },
  "settings": {
    "import/resolver": {
      "babel-root-import": {}
    }
  }
}
